.categoryCard {
    border: 1px solid grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.categoryImage {
    display: grid;
    align-items: end;
    padding: 1rem;
    aspect-ratio: 16/9;
    /* height: 359px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.categoryCardContent {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 4px;
    border-radius: 4px;
    max-width: min-content;
    color: #FFFFFF;
}

.categoryCard:hover {
    /* border-color: var(--primary-color); */
    box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.categoryCard:hover .categoryImage {
    transform: scale(1.05);
    transition: all ease;
}