:root {
  --max-width: 1440px;
  /* --border-radius: 12px; */

  --font-family: "Avenir", sans-serif;

  --primary-color: #D30113;
  /* 003474; /* rgb(0, 52, 116) */
  --secondary-color: #FEFEFE;
  /*E9AB41;
  /* rgb(233, 171, 65) */
  /*F9BB2D*/
  --foreground-color: 0, 0, 0;
  --background-color: rgb(243, 247, 250);
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --footer-bg: #FEFDFD;
  --button-hover: rgba(0, 0, 0, 0.1);
  --border-color: #C9CACE;

  --transition: all 0.3s linear;
  --swiper-navigation-color: #D30113;
  --swiper-pagination-bullet-active: #D30113;
  --primary-50: #E5EBF2;
  /*#e5f1ff;*/
  --primary-100: #b3d5ff;
  --primary-200: #80b9ff;
  --primary-300: #4d9dff;
  --primary-400: #1a80ff;
  --primary-500: #0067e6;
  --primary-600: #0050b3;
  --primary-700: #003980;
  --primary-800: #00224d;
  --primary-900: #000b1a;

  /* --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)); */

  /* --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135; */
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-LightOblique.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Book.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-BookOblique.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Roman.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Oblique.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Medium.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-MediumOblique.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-HeavyOblique.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./../public/fonts/Avenir/Avenir-BlackOblique.otf");
  font-weight: 900;
  font-style: italic;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-color);
  background-color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  /* line-height: 64px; */
  font-size: 57px;
  font-weight: 800;
  font-family: var(--font-family);
}

h2 {
  /* line-height: 52px; */
  font-size: 45px;
  font-weight: 800;
  font-family: var(--font-family);
}

h3 {
  /* line-height: 44px; */
  font-size: 36px;
  font-weight: 800;
  font-family: var(--font-family);
}

h4 {
  /* line-height: 40px; */
  font-size: 32px;
  font-weight: 600;
  font-family: var(--font-family);
}

h5 {
  /* line-height: 36px; */
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font-family);
}

h6 {
  /* line-height: 32px; */
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family);
}

span {
  /* line-height: 24px; */
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family);
}

/* Label medium */
small {
  /* line-height: 16px; */
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family);
}

em {
  font-family: var(--font-family);
}

b {
  font-family: var(--font-family);
}

input,
select,
textarea {
  border: 1px solid grey;
  border-radius: var(--sm-value);
  padding: 0 0.5rem;
  font-family: var(--font-family);
  font-size: 16px;
}

input,
select {
  height: 45px;
}

/* @media (prefers-color-scheme: dark) {
  :root {

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }

  html {
    color-scheme: dark;
  }
} */