.headerImage {
  background-color: whitesmoke;
  /* background-image: url(); */
}

.headerImageContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.sliderContainer {
  width: 100%;
  aspect-ratio: 16/9;
}

.slide {
  width: 100%;
  margin: 0 auto;
}

/* @media screen and (min-width: 768px) {
  
} */

@media screen and (min-width: 1024px) {
  .headerImageContainer {
    padding: 2rem 6rem;
  }
  
  .sliderContainer {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .sliderContainer img {
    border-radius: 0.5rem;
  }
}

/* .swiper-button-prev {
    background-image: url("/public/images/prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: var(--primary-color);
  }
  
  .swiper-button-prev::after {
    display: none;
  }
  
  .swiper-button-next {
    background-image: url("/public/images/next.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: var(--primary-color);
  }
  
  .swiper-button-next::after {
    display: none;
  } */

/* .slide img {
    background-position: "center";
    background-repeat: no-repeat;
    background-size: cover;
} */